[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
oracle = "AL9bxB2BUHnPptqzospgwyeet8RwBbd4NmYmxuiNNzXd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
